.consultas__data {
    padding: 0.5rem 0;
    font-weight: 700;
}

.consultas__cards {
    display: grid;
    gap: 1rem;
}

.consultas__cards__card {
    padding: 1rem;
    width: auto;
    border-radius: 8px;
    background-color: var(--branco);
}

.consultas__card__paciente {
    display: flex;
    margin-bottom: 1.375rem;
}

.consultas__card__paciente__foto {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.consultas__card__paciente__infos {
    margin-left: 1rem;
    margin-right: auto;
}

.consultas__card__paciente__infos__nome {
    font-weight: 700;
    font-size: 0.875rem;
}

.consultas__card__paciente__infos__icone {
    padding-top: 0.25rem;
}

.consultas__card__paciente__infos__local {
    display: inline;
    color: var(--cinza-claro);
    font-size: 0.75rem;
    margin-left: 0.5rem;
}


.consultas__card__horario {
    font-size: 0.75rem;
    font-weight: 500;
}

.consultas__card__botoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.consultas__card__botoes__primario {
    width: 50%;
    background-color: var(--cor-primaria);
    color: var(--branco);
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    padding: 0.9rem 0;
    border: none;
    border-radius: 8px;
}

.consultas__card__botoes__secundario {
    width: 50%;
    color: var(--cinza-escuro);
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    padding: 0.9rem 0;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    background-color: var(--branco);
}

.consultas__card__botoes__endereco {
    width: 100%;
    background-color: var(--cor-terciaria);
    color: var(--branco);
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    padding: 0.9rem 0;
    border: none;
    border-radius: 8px;
}

@media screen and (min-width: 700px) {
    .consultas__cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {    
    .consultas__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px) {  
    .consultas__cards {
        gap: 3rem;
        margin: 3rem;
    } 

    .consultas__card__paciente__foto {
        width: 48px;
        height: 48px;
    }

    .consultas__card__paciente__infos__nome {
        font-size: 1.125rem;
    }

    .consultas__card__horario {
        font-size: 0.875rem;
    }

    .consultas__card__botoes__secundario , .consultas__card__botoes__primario , .consultas__card__botoes__endereco {
        font-size: 1rem;
    }


}